<h1>Ingresa la factura:</h1>
<hr/>
<div>
    <form action="/result">
        <p>Ingresa el rut emisor:</p>
        <input name="client_dni" type="text">
        <p>Ingresa el rut receptor:</p>
        <input name="debtor_dni" type="text">
        <p>Ingresa el monto de la factura:</p>
        <input name="document_amount" type="integer">
        <p>Ingresa el folio de la factura:</p>
        <input name="folio" type="integer">
        <p>Ingresa la fecha de vencimiento de la factura:</p>
        <input name="expiration_date" type="datetime">
        <button type="submit">Calcular</button>
    </form>
</div>